body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff00dd;
    height: 200vh;
}
img{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 220px;
    
}