body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff00dd;
    height: 200vh;
}
img{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 220px;
    
}
cornerlink {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}