body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #00ff88;
    height: 200vh;
}
img{
    position: fixed;
    top: 270px;
    left: 270px;
    width: 250px;
    border: 5px solid #ffffff7a;
}