body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    height: 200vh;
}
img{
    position: relative;
    top: 100px;
    left: 150px;
    width: 200px;
    border: 5px solid #b4ff06e3;
}