body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c8c5c5;
    height: 200vh;
}
img{
    position: static;
    width: 150px;
    border: 5px solid #00ff7b;
}