body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffff7f;
    height: 300vh;
}
img {
    position: sticky;
    top: 50px;
    width: 180px;
    border: 3px solid #007bff;
}